@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

.progress-bar\:bg-transparent::-webkit-progress-bar {
	background-color: transparent;
}

.progress-fill\:bg-current::-webkit-progress-value {
	background-color: currentColor;
}

.progress-bar:indeterminate {
	background-size: 200% 100%;
	background-image: linear-gradient(
		to right,
		transparent 50%,
		currentColor 50%,
		currentColor 60%,
		transparent 60%,
		transparent 71.5%,
		currentColor 71.5%,
		currentColor 84%,
		transparent 84%
	);
}

@keyframes progress-linear {
	0% {
		background-size: 200% 100%;
		background-position: left -31.25% top 0%;
	}
	50% {
		background-size: 800% 100%;
		background-position: left -49% top 0%;
	}
	100% {
		background-size: 400% 100%;
		background-position: left -102% top 0%;
	}
}
